body {margin: auto;} 
a{text-decoration: none; font:bold} 
 .auto-style1 {
    font-size: xx-large;
 }
  
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsKwHlCYWexZJCPRz1QQ0uKVU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* devanagari */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(https://fonts.gstatic.com/s/kalam/v8/diMbwchVDQTcqIZqiNAv9Q.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(https://fonts.gstatic.com/s/kalam/v8/oJcupP4-wXgwcVbtsC-kZA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(https://fonts.gstatic.com/s/kalam/v8/IOem-i1iklYvPM2B8plGmg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@media screen {
    #header {
        display: none;
    }
}


body {
  text-align:center;
  margin:0px;
  background:#F8F8F8;
}

a {
  color:#4A789F;
  text-decoration:none;
}

div#indexform td {
  text-align:left;
}

.backgroundcolor {
  background:#F8F8F8;
}

.bodycolor {
  background:#ffffff;
}

tr.row1, td.row1 {
  background:#ffffff;
}

tr.row2, td.row2 {
  background:#F8F8F8;
}

h1 {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:36px;
  font-weight:bold;
  margin:10px 0px 20px 4px;
  color:#2A2A2A;
}

h2 {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:20px;
  font-weight:bold;
  margin:20px 0px 10px 0px;
  color:#2A2A2A;
}

h2.info {
  color:#714C27;
}

div.contentdesc {
  font-family: "Kalam", Helvetica, Arial, sans-serif;
  font-size:17px;
  padding: 0px 0px 10px 5px;
  color:#4A4A4A;
  clear:both;
}

h1.contentdesc {
  font-family: "Kalam", Helvetica, Arial, sans-serif;
  font-size:17px;
  padding: 0px 0px 8px 5px;
  margin-bottom:0px;
  color:#4A4A4A;
  font-weight:normal;
  clear:both;
}

img { border: 0px; }
font, th, td, p, dt, dd, li, ul, ol { font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#2a2a2a; }

.white {
  background:#ffffff;
}

table#maintable, table#headertable {
  width:100%;
}

table#headertable {
  }

td.graddiv, div.graddiv {
  height:4px;
  background: #c2c2c2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #c2c2c2 , #F8F8F8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #c2c2c2, #F8F8F8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #c2c2c2, #F8F8F8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #c2c2c2, #F8F8F8); /* Standard syntax */
}

td.logobar {
  background: -webkit-linear-gradient(top, #fbfbfb, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #fbfbfb, #ffffff); /* Standard syntax */
}

td.footerback {
  background: -webkit-linear-gradient(top, #fbfbfb, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #fbfbfb, #ffffff); /* Standard syntax */
}

td.footerbar {
  padding:15px 0px 15px 0px;
  background:#ffffff;
  font-size:12px;
}

td.footerheader, div.footerheader {
  font-size: 13px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
  text-align:left;
  border-bottom:1px solid #8a8a8a;
}

td.footerheader {
  padding:0px 0px 5px 0px;
}

div.footerheader {
  padding:15px 0px 5px 0px;
}

td.footertext {
  font-size: 13px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
  padding:30px 0px 0px 0px;
}

td.footerlinks {
  padding:5px 0px 0px 0px;
  vertical-align:top;
}

div.footerlink {
  display:block;
  padding:1px 0px 1px 0px;
}

div.footerlink span.footerlinktext {
  font-size: 13px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
}

a.footerlink:link, a.footerlink:visited, a.footerlink:active {
  font-size: 13px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
}

a.footerlink:hover {
  font-size: 13px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:underline;
}

td.menubar, td.menubaropts {
  background:#0086C1;
}

td.menubar {
  padding:3px 0px 3px 0px;
}

td.menubaropts {
  padding:5px 0px 0px 0px;
}

td.belowmenubar {
  background:#EAE5CE;
}

table.menutable, table.menutable td {
  background:#0086C1;
  font-weight:normal;
  color:#ffffff;
  font-size:14px;
  text-align:left;
}

table.menutable, table.menutable td.centercell {
  text-align:center;
}

td.mainbody {
  background:#ffffff;
  padding:10px 0px 30px 0px;
}

td.bodybar {
  background:#F8F8F8;
}

span#blanktileshint {
  display:inline;
}

span#blankspaceshint {
  display:none;
}

span#advancedsearchspan {
  display:none;
}

td#menubarlengthscell {
}

span#advancedsearchspan a {
  margin-left:10px;
  color:#ffffff;
}

span#advancedsearchspan a:hover {
  text-decoration:underline;
}

input, textarea, select { background:#f8f8f8; border:1px solid #dadde2; font-family:"Lato", Helvetica, Arial, sans-serif; font-size:14px; color:#5a5a5a; }

input[type='text']:focus { background:#F7F8FA; }

input[type='text'] {
  padding-left:3px;
}

.button {
  color:#ffffff;
  background:#714C27;
  font-size:13px;
  font-weight:normal;
  height:20px;
  padding:0px 4px 2px 4px;
  vertical-align:middle;
  border:1px solid #714C27;
  cursor:pointer;
}

.bigbutton {
  color:#ffffff;
  background:#714C27;
  font-weight:normal;
  height:30px;
  font-size: 20px;
  padding:0px 8px 6px 8px;
  vertical-align:middle;
  border:1px solid #714C27;
  cursor:pointer;
}

form {
  margin:0px;
}

p {
  margin-left:5px;
  margin-top:10px;
  font-size:16px;
}

div.personalpromo, div.personalminipromo {
}

td.bodytable {
  background:#F8F8F8;
}

div.bodydiv {
  background:#ffffff;
  border:1px solid #ffffff;
  margin-bottom:5px;
}

select:focus, textarea:focus, input:focus {
  outline:none;
}

div.linksseparator {
  margin-top:20px;
  border-bottom:1px solid #F8F8F8;
}

table#contenttable {
  margin:7px;
}

table#contenttable td#contentpagecell {
  padding-top:8px;
 }

div.dictmainword {
  padding-bottom:5px;
}

div.dictmainwordnoalph {
  padding-bottom:10px;
}

div.dictalphaword {
  padding-bottom:14px;
}

div.dictmainword1 {
  padding:7px;
  background:#ffffff;
}

div.dictmainword2 {
  padding:7px;
  background:#f8f8f8;
}

div.dictalphaword1 {
  padding:0px 7px 7px 7px;
  background:#ffffff;
}

div.dictalphaword2 {
  padding:0px 7px 7px 7px;
  background:#f8f8f8;
}

div.dictmainwordnoalph1 {
  padding:8px;
  background:#ffffff;
}

div.dictmainwordnoalph2 {
  padding:8px;
  background:#f8f8f8;
}

div#phonetics {
  margin-top:10px;
  font-size:16px;
  font-style:italic;
}

a.dictalphalink:link, a.dictalphalink:visited, a.dictalphalink:active {
  color:#2a2a2a;
  font-size:16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
}
a.dictalphalink:hover {
  color:#2a2a2a;
  font-size:16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:underline;
}



/* menu-options.css */
div.menuoption, div.menuoptioncurrent, div.menuoptioncurrentscrolled, div.menuoption:hover {
  display:inline-block;
  font-family: "Lato", Arial, sans-serif;
  font-weight:normal;
  background:#2DB4EC;
  padding-left:6px;
  padding-right:6px;
  line-height:27px;
  margin-right:4px;
  margin-left:0px;
  vertical-align:middle;
  border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px; /* Old Firefox */
}

div.menuoption {
  background:#2DB4EC;
  color:#ffffff;
  cursor:pointer;
}

div.menuoption a {
  text-decoration:none;
}

a.menuoption:link, a.menuoption:visited, a.menuoption:active, a.menuoption:hover {
  text-decoration:none;
  font-family: "Lato", Arial, sans-serif;
  font-weight:normal;
  color:#ffffff;
  font-size:14px;
}

a.menuoption:link, a.menuoption:visited, a.menuoption:active {
  color:#ffffff;
}

a.menuoption:hover {
  color:#ffffff;
}

div.menuoptioncurrent {
  background:#F8F8F8;
  color:#5a5a5a;
  cursor:default;
}

div.menuoptioncurrentscrolled {
  background:#ffffff;
  color:#5a5a5a;
  cursor:default;
}

div.menuoption:hover {
  background:#006B9A;
  color:#ffffff;
  cursor:pointer;
}


/* ads.css */
div#ad1 {
  width:300px;
  margin:0px;
  padding:15px 0px 0px 0px;
}

div#ad2 {
  width:300px;
  margin:0px;
  padding:8px 0px 0px 0px;
  z-index:100;
}

div#ad3 {
  width:300px;
  margin:0px;
  padding:10px 0px 0px 0px;
}

div#ad4 {
  width:728px;
  height:90px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

div#ad4container {
  width:728px;
  height:90px;
}

div#ad5 {
  width:728px;
  height:90px;
  margin:0px;
  padding:20px 0px 0px 0px;
}

div#ad5container {
  width:728px;
  height:90px;
}

div#fbLikeBox {
  width:300px;
  height:215px;
  margin:0px;
  padding:5px 0px 0px 0px;
}


/* related-word.css */
div.wordtype {
  margin-top:18px;
  color:#714C27;
  font-weight:normal;
  font-size:25px;
  padding:0px 7px 5px 7px;
  clear:both;
}

div.relatedwords {
  font-size:16px;
  padding:0px 5px 0px 5px;
}

div.relatedwords p, div.relatedwords ol li {
  font-size:16px;
}

div.relatedwords ol li {
  padding-bottom:8px;
  padding-right:30px;
}

div.relatedwords div.wordblock a {
  color:#4A789F;
  font-size:16px;
}

div.relatedwords a {
  color:#4A789F;
  font-size:16px;
}

a.wordlink {
  color:#4A789F;
  font-size:16px;
}

div.relatedwords a:link, div.relatedwords a:visited, div.relatedwords a:active,
a.wordlink:link, a.wordlink:visited, a.wordlink:active,
a.wordlinksmall:link, a.wordlinksmall:visited, a.wordlinksmall:active {
  text-decoration:none;
}
 
div.relatedwords a:hover {
  text-decoration:underline;
}

div.miniwordtype {
  margin-top:10px;
  background:#2DB4EC;
  color:#ffffff;
  font-weight:normal;
  font-size:14px;
  padding:3px 5px 3px 5px;
  border:1px solid #2DB4EC;
  border-radius:0px 10px 0px 0px;
  -moz-border-radius:0px 10x 0px 0px; /* Old Firefox */
}

div.minirelatedwords {
  width:100%;
  font-size:13px;
  padding:5px;
}

div.minirelatedwords td, div.minirelatedwords p, div.minirelatedwords ol li {
  font-size:12px;
}

div.minirelatedwords ol li {
  padding-bottom:5px;
  padding-right:30px;
}

div.minirelatedwords a {
  color:#4A789F;
  font-size:13px;
}

div.minirelatedwords a:link, div.minirelatedwords a:visited, div.minirelatedwords a:active {
  text-decoration:none;
}
 
div.minirelatedwords a:hover {
  text-decoration:underline;
}

/* search-again-box.css */
div#searchagaincontainer {
  margin:20px 20px 0px 20px;
  background:#f5f5f5;
  padding:10px;
  border-radius:8px;
  -moz-border-radius:8px; /* Old Firefox */
}

div#searchagaincontainer {
  padding:15px;
}

div#searchagaincontainer div#label {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:30px;
  font-weight:bold;
  color:#2a2a2a;
}

div#searchagain {
}

div#searchagain td {
  padding:5px 5px 5px 5px;
}

div#searchagain td#searchagainblanktilescell {
  padding:0px 5px 5px 8px;
  font-size:15px;
  color:#5a5a5a;
  display:none;
}

div#searchagain td#searchagainblankspacescell {
  padding:0px 5px 5px 8px;
  font-size:15px;
  color:#5a5a5a;
  display:none;
}

div#searchagain td#searchagainadvancedwordfindercell {
  padding:0px 5px 5px 8px;
  font-size:15px;
  display:none;
}

span#searchagainblanktileslabel {
  display:none;
}

span#searchagainwwflabel {
  display:none;
  padding-left:5px;
}

span#searchagainscrabblelabel {
  display:none;
  padding-left:5px;
}

span#searchagaincrosswordlabel {
  display:none;
  padding-left:5px;
}

span#searchagainadvancedwordfinderlabel {
  display:none;
}

span#searchagainblankspaceslabel {
  display:none;
}

div#searchagain td#searchagainLogo {
  padding:10px 10px 5px 10px;
}

div#searchagain input[type=text], div#searchagain select, div#searchagain textarea {
  font-size:20px;
  background:#ffffff;
}

div#searchagain textarea {
  height:24px;
  width:270px;
  overflow:hidden;
  resize:none;
}

.searchagainbutton {
  color:#ffffff;
  background:#714C27;
  font-weight:normal;
  height:30px;
  font-size: 20px;
  padding:0px 8px 6px 8px;
  vertical-align:middle;
  border:1px solid #714C27;
  cursor:pointer;
}

/* index.css */
table.indexbox td.indexbox {
  background:#CABC94;
  color:#40372B;
  font-size:15px;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
}

td.grey {
  background:#c9c6bF;
}

div.indexboxdiv {
}

form {
  margin:0px;
}

div#indexlogo {
  text-align:center;
  margin:35px 0px 35px 0px;
}

div#indexform {
  text-align:center;
}

div#indexform input[type='text'], div#indexform select, div#indexform textarea {
  background:#f8f8f8;
  border: 1px solid #dadde2;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #5a5a5a;
  padding:3px 3px 3px 6px;
}

div#indexform textarea#selectword {
    width:270px;
  }

div#indexform input[type='text']:focus { background:#F7F8FA; }

div#indexform td#searchagainblanktilescell {
  font-size:15px;
  color:#5a5a5a;
  display:none;
}

div#indexform td#searchagainblankspacescell {
  font-size:15px;
  color:#5a5a5a;
  display:none;
}

div#indexform td#searchagainadvancedwordfindercell {
  font-size:15px;
  display:none;
}

div#indexform td#searchagainadvancedwordfindercell a {
  font-size:15px;
}

div#indexform td#searchagainadvancedwordfindercell a:hover {
  font-size:15px;
  text-decoration:underline;
}

div#indexform textarea {
  height:24px;
  width:270px;
  overflow:hidden;
  resize:none;
}

input#indexformbutton {
  color:#ffffff;
  background:#714C27;
  font-weight:normal;
  height:30px;
  font-size:17px;
  padding:0px 4px 2px 4px;
  vertical-align:middle;
  border:1px solid #714C27;
  cursor:pointer;
}

div#indexslogan1, h1#indexslogan1 {
  font-family: "Lato", Cambria, Times New Roman, Times, serif;
  font-size:27px;
  font-weight:bold;
  margin:30px 0px 8px 0px;
  text-align:center;
  color:#2A2A2A;
}

div#indexslogan2, h2#indexslogan2 {
  font-family: "Kalam", Cambria, Times New Roman, Times, serif;
  font-size:20px;
  margin:12px 45px 8px 45px;
  text-align:center;
  font-weight:normal;
  color:#6a6a6a;
}

div#searchslogan2 {
  font-family: "Kalam", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:22px;
  margin:8px 0px 8px 0px;
  text-align:center;
  color:#4A4A4A;
}

div#indexsocialshare, div#contentsocialshare {
  text-align:center;
  margin:24px 0px 20px 0px;
}


/* social */
div#socialsharediv {
  width:320px;
  padding:12px 0px 0px 0px;
}

#socialsharelabel {
  font-family: "Indie Flower", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  color:#DD6746;
  font-size:15px;
  width:88px;
  text-align:center;
}

#indexsocialsharelabel {
  font-family: "Indie Flower", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  color:#FEAD26;
  font-size:27px;
  width:128px;
  text-align:center;
  padding-right:15px;
}

img.socialshareimg {
  cursor:pointer;
}

td.socialimgcell {
  width:58px;
  height:40px;
  text-align:center;
}

div.wordblock {
  display:inline;
  background:#f6f6f6;
  padding:6px 7px 6px 7px;
  margin:0px 4px 0px 4px;
  line-height:42px;
  white-space: nowrap;
  color:#484848;
}

div#contentdiv {
  padding-bottom:10px;
}

sup {
  font-size:8px;
  padding-left:1px;
}

div.subwordtype {
  font-family: "Kalam", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-weight:bold;
  font-size:16px;
  padding:12px 5px 5px 5px;
  color:#0086C1
}

div.subrelatedwordtype {
  font-size:14px;
  padding:1px 5px 3px 5px;
}

div.spacediv {
  font-size:9px;
}

div#dyntransresult {
  padding-bottom:10px;
}

div.dyntrans {
  padding-left:5px;
  padding-top:12px;
  color:#2a2a2a;
}

div.dyntransalpha {
  padding-left:5px;
  padding-top:5px;
  color:#888888;
}


/* Main See Also Section for Desktop */
h2#seeAlso, h2#moreWords {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:28px;
  font-weight:bold;
  padding-bottom:5px;
  margin:28px 0px 12px 4px;
  border-bottom:1px solid #2a2a2a;
  color:#2A2A2A;
}

div#seeAlsoLinks, div#moreWordsLinks {
  margin-left:4px;
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:20px;
  line-height:36px;
  color:#2a2a2a;
}

table.menutable td.label {
  padding-right:8px;
  padding-left:1px;
  height:21px;
  letter-spacing:0.75px;
}

table.menutable td.submitcell, table.menutable td.leftpad {
  padding-left:5px;
}

table.menutable td.midlabel {
  padding-left:8px;
  padding-right:8px;
}

table.menutable td.letters {
  padding-left:40px;
}

table.menutable td.options {
  height:27px;
}

div#maindiv {
  padding-top:0px;
}

.headercolor {
  background:#0086C1;
}

div#headerdiv {
  padding-top:2px;
  background:#0086C1;
  display:block;
  width:100%;
  z-index:200;
  position:sticky;
  position:-webkit-sticky;
  top:0px;
}

img#headerlogoimage {
  position:absolute;
  z-index:1000;
  top:3px;
  display:none;
}

td#headerlogo {
  background:#0086C1;
}

div#suggestdiv {
  position:fixed;
  z-index:300;
  border-left:1px solid #dadde2;
  border-bottom:1px solid #dadde2;
  border-right:1px solid #dadde2;
}

table#suggesttable tr, table#suggesttable tr td {
}

table#suggesttable tr td {
  background:#ffffff;
  color:#5a5a5a;
  font-size:13px;
  padding:3px;
  text-align:left;
  cursor:default;
}

span.wordstring, h1#titleHeader b {
  color:#0086C1;
  font-weight:bold;
  font-size:46px;
}

/* Recommended words */
div#recommendedwords h2 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size:25px;
  font-weight:bold;
  padding-bottom:5px;
  margin:18px 0px 12px 4px;
  border-bottom:1px solid #2a2a2a;
  color:#4A4A4A;
}

div#recommendedwords p {
  margin-left:5px;
  margin-top:10px;
  margin-bottom:10px;
  color:#4A4A4A;
}

div#recommendedwords div.recommendedword0, div#recommendedwords div.recommendedword1 {
  margin-left:5px;
  line-height:30px;
  padding-left:5px;
  vertical-align:middle;
}

div#recommendedwords div.recommendedword1 {
  background:#f6f6f6  
}

div#recommendedwords div[id^='recommendedwordsexpandablesection'] {
  display:none;
}

div#recommendedwords div[id^='expandrecommendedwordsbutton'] {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align:center;
  line-height:38px;
  vertical-align:middle;
  font-size:14px;
  color:#4A789F;
  cursor:pointer;
}

div#recommendedwords span.showmorerecommendedwordsdropdown {
  padding-left:2px;
  margin-top:2px;
}

/* Matching words page table */
table.pagetable {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align:center;
  line-height:38px;
  vertical-align:middle;
  font-size:14px;
}

td.wordlinktext {
  color:#5a5a5a;
  font-size:14px;
}

a.wordlinksmall, span.wordlinksmall {
  color:#4A789F;
  font-size:14px;
  cursor:pointer;
}


img#headerspeaker {
  margin-top:12px;
  padding-right:10px;
  padding-left:10px;
  float:right;
  cursor:pointer;
}

img#greyheaderspeaker {
  padding-left:5px;
  cursor:pointer;
}

a.contextAnchor {
  
    color:#0086C1;
  font-size:18px;
  
  padding-top:80px;
  margin-top:-80px;
  font-weight:normal;
  text-decoration:none;
}

div.morewordsblock {
  display:inline;
  border-radius:6px;
  background:#714C27;
  padding:5px 6px 5px 6px;
  margin:0px 4px 0px 4px;
  line-height:36px;
  white-space: nowrap;
  font-size:14px;
  color:#ffffff;
  cursor:pointer;
}
div#rightsearchbox {
  width:280px;
  text-align:left;
  vertical-align:middle;
  margin-top:8px;
  background:#2DB4EC;
  padding:10px 10px 10px 10px;
}

div#rightsearchformhead {
  font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
  font-size:24px;
  color:#ffffff;
  margin:0px;
  padding:0px 0px 6px 1px;
}

div#rightsearchform {
  width:280px;
}

/* Right search form text input elements. */
table#rightsearchforminputtable {
}

table#rightsearchforminputtable tr td {
}

table#rightsearchforminputtable tr td#rightsearchforminputcell {
  background:#ffffff;
  border-top:1px solid #006B9A;
  border-bottom:1px solid #006B9A;
  border-left:1px solid #006B9A;
  border-right:none;
  padding:6px 4px 2px 4px;
  width:240px;
}

table#rightsearchforminputtable tr td#rightsearchformsubmitcell {
  color:#ffffff;
  background:#714C27;
  font-weight:normal;
  border:1px solid #714C27;
  vertical-align:middle;
  cursor:pointer;
  line-height:32px;
  font-size:18px; 
  white-space: nowrap;
  width:40px;
  text-align:center;
  height:22px;
  vertical-align:middle;
}

table#rightsearchforminputtable tr td#rightsearchforminputcell textarea#rightsearchselectword {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size:18px;
  padding:2px;
  width:100%;
  height:22px;
  color:#5a5a5a;
  background:#ffffff;
  border:none;
  overflow:hidden;
  resize:none;
  margin-top:0px;
}

table#rightsearchforminputtable tr td#rightsearchforminputcell textarea#selectword:focus {
  outline: none;
}

table#rightsearchforminputtable tr td#rightsearchforminputcell input#selectword:focus {
  outline: none;
}

tr#rightsearchformsuggestrow {
  display:none;
}

table#rightsearchformsuggesttable {
  width:100%;
}

table#rightsearchformsuggesttable tr, table#rightsearchformsuggesttable tr td {
}

tr#rightsearchformsuggestrow {
  display:none;
}

table#rightsearchformsuggesttable tr td {
  background:#ffffff;
  color:#5a5a5a;
  font-size:18px;
  padding:5px 5px 5px 5px;
  text-align:left;
  cursor:default;
  border-top:none;
  border-bottom:1px solid #006B9A;
  border-left:1px solid #006B9A;
  border-right:1px solid #006B9A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'latoregular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
a img, :link img, :visited img {
border: 0;
}

:focus {
    outline: 0;
}
.clear {
    clear: both;
}
.akerdion {
border: 1px solid #999;
border-radius: 5px;
margin:2px;
padding: 1.04%;
} 
.ozet {
border-radius: 5px;
cursor: pointer;
margin: -1%;
padding: 8px 10px;
background: -webkit-linear-gradient(top, #f3f3f3 50%, #e6e6e6 50%);
}	

table {font-size:14px;color:#333333;width:50%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;margin-left: auto;margin-right: auto;}
table th {font-size:13px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
table tr {background-color:#d4e3e5;}
table td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
table tr:hover {background-color:#ffffff;}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media only screen and (max-width: 760px) {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		}


* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

#myInput2 {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable2 {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable2 th, #myTable2 td {
  text-align: left;
  padding: 12px;
}

#myTable2 tr {
  border-bottom: 1px solid #ddd;
}

#myTable2 tr.header, #myTable2 tr:hover {
  background-color: #f1f1f1;
}


